* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
}

header {
    text-align: center;
    padding: 30px;
}

header p {
    padding: 20px;
}

header button {
    width: 120px;
    height: 50px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
}

.testimonials {
    background-color: beige;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial {
    margin: 20px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 20px;
}

.testimonial h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial span {
    font-size: 14px;
    color: #666;
}